/* Estilo para los botones de navegación */
nav {
    text-align: center;
    margin-bottom: 20px;
}

nav button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

nav button:hover {
    background-color: #003d80;
}

/* Estilo general de la página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header, section, footer {
    margin-bottom: 20px;
}

h1 {
    color: #0056b3;
    font-size: 2rem;
}

h2 {
    color: #004080;
    font-size: 1.5rem;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-size: 0.9em;
    color: #666;
}
#profile-image {
    width: 200px;  /* Ajusta este valor según tus necesidades */
    height: 200px; /* Asegura que el alto y el ancho sean iguales para un círculo perfecto */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Esto asegura que la imagen cubra el espacio sin distorsionarse */
    display: block;
    margin: 20px auto; /* Esto centra la imagen horizontalmente y añade espacio arriba y abajo */
}

